<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "core/links.html"%}
    <title>{% block title %}{% endblock %} | Estela Medrano</title>

    {% block links %}{% endblock %}
  </head>

  <body>
    
    {% include "core/navegation.html" %}
    {% block navbar %}{% endblock %}
  <!-- Cabecera -->
    {% load static %}
    <header class="masthead" style="background-image: url('{% block background %}{% endblock %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              {% block header %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </header>

    {% block content %}{% endblock %}

    {% include "core/footer.html" %}
    {% block footer %}{% endblock %}

    <!-- Bootstrap y Javascripts -->
    {% include "core/javascripts.html" %}
    {% block javascripts %}{% endblock %}

  </body>

</html>
